:host {
  grid-column: 2/3;
  grid-row: 1/-1;

  @media (max-width: 1000px) {
    grid-column: 1/-1;
  }
}

.search {
  width: calc(100% - 2em);
  padding: 10px 12px;
  border: none;
  background-color: #f1f1f1;
}
