@import '../../../variables.scss';

:host {
  grid-column: 2/3;
  grid-row: 1/-1;
  background-color: var(--bg-color);
  color: var(--font-color);

  @media (max-width: 1000px) {
    grid-column: 1/-1;
  }
}

@media (prefers-color-scheme: dark) {
  .mat-icon {
    // Icon color for the search box
    color: var(--bg-color);
  }
}

// .search {
//   width: calc(100% - 2em);
//   padding: 10px 12px;
//   border: none;
//   background-color: $bg-color;
// }
