<div class="container">
    <h1>Settings</h1>
    <!-- <ul class="card-container">
        <li class="card">
            <div class="image-container image-container-playlist">
                <img class="card-image image-3" src="https://via.placeholder.com/128x72.webp" alt="placeholder">
                <img class="card-image image-2" src="https://via.placeholder.com/128x72.webp" alt="placeholder">
                <img class="card-image image-1" src="https://via.placeholder.com/128x72.webp" alt="placeholder">
            </div>
            <div class="card-content">
                <p class="name"><strong>Tamil</strong></p>
                <p class="channel">53 Items</p>
            </div>
        </li>
    </ul> -->
</div>