:host {
  grid-column: 2/3;
  grid-row: 1/-1;
  overflow: auto;
  background-color: var(--bg-color);
  color: var(--font-color);

  @media (max-width: 1000px) {
    grid-column: 1/-1;
  }
}

.container {
  padding-bottom: 0px;
  margin-bottom: -16px;
}

.title > strong, .card-content > .channel {
  display: block;
  max-width: 220px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}


