<div class="container">
  <div class="page-title-container">
    <h1>Play History</h1>
    <button mat-flat-button (click)="clearHistory()"><mat-icon>filter_list</mat-icon> Clear History</button>
  </div>
  <ul class="card-container">
    <!-- When opening for the first time recents variable is undefined -->
    <li *ngIf="recents?.length === 0">
      <p>Looks like you haven't played any items yet.       
      </p>
      <br>
      <br>
    </li>
    <li
      class="card"
      *ngFor="let recentAudio of recents | slice : 0 : 30"
      (click)="getVideoDetails(recentAudio.videoId)"
    >
      <div class="image-container">
        <img class="card-image" [src]="recentAudio.albumArt" alt="Album art" />
        <p class="duration">
          <strong
            >{{ recentAudio.length / 60 | number : "2.0-0" }}:{{
              recentAudio.length % 60 | number : "2.0-0"
            }}</strong
          >
        </p>
      </div>
      <div class="card-content">
        <p class="title">
          <strong>{{ recentAudio.title }}</strong>
        </p>
        <p class="channel">{{ recentAudio.author }}</p>
      </div>
    </li>
  </ul>
</div>
<app-playlists verb="Latest"></app-playlists>
