<div class="container">
  <h1>Recently Played</h1>
  <ul class="card-container">
    <li
      class="card"
      *ngFor="let recentAudio of recents | slice : 0 : 3"
      (click)="getVideoDetails(recentAudio.videoId)"
    >
      <div class="image-container">
        <img class="card-image" [src]="recentAudio.albumArt" alt="Album art" />
        <p class="duration">
          <strong
            >{{ recentAudio.length / 60 | number : "2.0-0" }}:{{
              recentAudio.length % 60 | number : "2.0-0"
            }}</strong
          >
        </p>
      </div>
      <div class="card-content">
        <p class="title">
          <strong>{{ recentAudio.title }}</strong>
        </p>
        <p class="channel">{{ recentAudio.author }}</p>
      </div>
    </li>
  </ul>
</div>
<app-playlists verb="Latest"></app-playlists>
