:host {
  grid-column: 2/3;
  grid-row: 1/-1;
  overflow: auto;
  background-color: var(--bg-color);
  color: var(--font-color);

  @media (max-width: 1000px) {
    grid-column: 1/-1;
  }
}

.container {
  padding-bottom: 0px;
  margin-bottom: -16px;
}

.title > strong, .card-content > .channel {
  display: block;
  max-width: 220px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 0;
  }

  button {
    padding: 0.5rem;
    background-color: var(--transparent);
    border: none;
    border-radius: 4px;
    color: var(--accent-color);
    cursor: pointer;
    font-family: 'Inter';
    font-weight: normal;

    &:active {
      background-color: var(--accent-color);
      color: var(--white);
    }
  }
}

