<div class="main-container">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <a matRipple routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
      class="toolbar__link">
      <button mat-button class="toolbar__button big-screen">
        <mat-icon>home</mat-icon><span>Home</span>
      </button>
      <mat-icon class="small-screen bottom-icon">home</mat-icon>
    </a>

    <a matRipple routerLink="/search" routerLinkActive="active-link" class="toolbar__link">
      <button mat-button class="toolbar__button big-screen">
        <mat-icon>search</mat-icon><span>Search</span>
      </button>
      <mat-icon class="small-screen bottom-icon">search</mat-icon>
    </a>

    <a matRipple routerLink="/playlists" routerLinkActive="active-link" class="toolbar__link">
      <button mat-button class="toolbar__button big-screen">
        <mat-icon>playlist_play</mat-icon><span>Playlists</span>
      </button>
      <mat-icon class="small-screen bottom-icon">playlist_play</mat-icon>
    </a>

    <a matRipple routerLink="/settings" routerLinkActive="active-link" class="toolbar__link">
      <button mat-button class="toolbar__button big-screen">
        <mat-icon>settings</mat-icon><span>Settings</span>
      </button>
      <mat-icon class="small-screen bottom-icon">settings</mat-icon>
    </a>
  </div>
  <router-outlet style="display: none"></router-outlet>
  <app-player class="minimised" id="player"></app-player>
</div>