:host {
  grid-column: 2/3;
  grid-row: 1/-1;
  overflow: auto;

  @media (max-width: 1000px) {
    grid-column: 1/-1;
  }
}


.search-spinner {
  width: 28px !important;
  height: 28px !important;
  margin-inline: 10px !important;
}