:host {
  grid-column: 2/3;
  grid-row: 1/-1;
  overflow: auto;
  background-color: var(--bg-color);
  color: var(--font-color);

  @media (max-width: 1000px) {
    grid-column: 1/-1;
  }
}

.mat-mdc-form-field {
  width: 100% ;
}

.search-spinner {
  width: 28px !important;
  height: 28px !important;
  margin-inline: 10px !important;
}

@media (prefers-color-scheme: dark) {
  .mat-icon {
    // Icon color for the search box
    color: var(--bg-color);
  }
}